<html>
<head>
	<title>grid-it example</title>

	<style>

	* {
		box-sizing: border-box;
	}

	.Cast {
		position: relative;
	}

	.Cast-item {
		position: absolute;
		display: block;
		height: 50px;
		background: #eee;
		width: 100%;
		box-sizing: border-box;
		opacity: 1;

		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
	}

	.hidden {
		opacity: 0;
	}

	#wrapper {
		border: 1px #ddd;
	}

	</style>
</head>
<body>
	<button id='sort'>toggle sort</button>
	<button id='filter'>toggle filter</button>
	<div id='wrapper'></div>

	<script type='template' id='grid-item-template'>
		<p> <%= name %> <%= age %> </p>
	</script>

	<script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js'></script>
	<script src='http://code.jquery.com/jquery-1.9.1.js'></script>
	<script src='../build/build.js'></script>
	<script>
		var attributes = [{name: 'ben', age: 28}, {name: 'kit', age: 28}, {name: 'rick', age: 32}, {name: 'kat', age: 33}, {name: 'james', age: 35}, {name: 'jay', age: 35}, {name: 'joe', age: 35}, {name: 'bob', age: 35}, {name: 'carver', age: 35}, {name: 'doogie', age: 35}, {name: 'doug', age: 35}];

		var container = document.querySelector('#wrapper');
		var template = _.template($('#grid-item-template').html());

		// Build cast
		var Cast = require('cast');
		var grid = new Cast(container)
			.render(function(attr, el, block){
				el.innerHTML = template(attr);
			})
			.data(attributes, 'name')
			.sortBy('name')
			.justify(150, 150, 20, 20)
			.draw();



			var sorted = false;
			var filtered = false;

			$('#sort').on('click', function(){
				if (sorted) {
					grid.sortBy('name', -1);
					sorted = false;
				} else {
					grid.sortBy('name');
					sorted = true;
				}
				grid.justify(150, 150, 20, 20)
			});

			$('#filter').on('click', function(){
				if (filtered) {
					grid.data(attributes, 'name');
					filtered = false;
				} else {
					grid.data(attributes.slice(2, 7), 'name');
					filtered = true;
				}
				grid.justify(150, 150, 20, 20);
			});


		
	</script>


</body>
</html>