<html>
<head>
	<title>grid-it example</title>

	<style>

	* {
		box-sizing: border-box;
	}

	.cast-view {
		position: relative;
	}

	.cast-item {
		position: absolute;
		display: block;
		height: 50px;
		background: #eee;
		width: 100%;
		box-sizing: border-box;
		opacity: 1;

		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
	}

	.hidden {
		opacity: 0;
	}

	</style>
</head>
<body>
	<input type='text' id='name-filter'><button id='sort'>sort</button>
	<button id='restore'>restore</button>
	<div id='wrapper' style='border: 1px solid; '></div>

	<script type='template' id='grid-item-template'>
	<p> <%= name %> <%= age %> </p>
	</script>

	<script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js'></script>
	<script src='http://code.jquery.com/jquery-1.9.1.js'></script>
	<script src='../build/build.js'></script>
	<script>
		var attributes = [{name: 'ben', age: 28}, {name: 'kit', age: 28}, {name: 'rick', age: 32}, {name: 'kat', age: 33}, {name: 'james', age: 35}, {name: 'jay', age: 35}, {name: 'joe', age: 35}, {name: 'bob', age: 35}, {name: 'carver', age: 35}, {name: 'doogie', age: 35}, {name: 'doug', age: 35}];

		var cast = require('cast');

		var myGrid = cast({ wrapper: '#wrapper'})
			.data(attributes, function(attr){
				return attr.name
			});

			myGrid.on('wrapperHeight', function(height){
				console.log(height);
			});

			myGrid.on('viewRendered', function(view){
				console.log($(view.el).find('p').addClass('bacon'));
			});

			myGrid.draw({
				template: _.template($('#grid-item-template').html())
			});

			myGrid.list({
				boxHeight: 50,
				paddingHeight: 10
			});

			$('#name-filter').on('input', function(e){
				// hello
			});

			$('#restore').on('click', function(){
				myGrid.data([{name: 'ben', age: 23}, {name: 'kit', age: 500}, {name: 'kat', age: 39}, {name: 'james', age: 35}], function(attr){
					return attr.name;
				}).list();
			});

			var $wrapper = $('#wrapper');
			$(window).on('resize', function(){
				myGrid.list({
					wrapperWidth: $wrapper.width()
				});
			});
	</script>


</body>
</html>